.feed {
  margin-top: 19rem;
}


//cards *****************************************
.card {
  background: #fff;
  margin: 0;
}

.answers-card {
 clear:both;
 text-align: center;
}

.card-time {
  float: right;
  margin: 0 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.eng-box {
  background: $one-color;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: .5rem;

}

.answer-eng {
  float: left;
  width: 40%;
  margin-left: 5rem;
}

.ene-box {
  background: $two-color;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: .5rem;

}

.answer-energy {
  float: right;
  width: 40%;
}
