.feed {
  margin-top: 17rem;
}


//cards *****************************************
.card {
  background: #fff;
  margin: 0;
}

.row {
  margin-bottom: 10px;
}

.answers-card {
 clear:both;
 text-align: center;
}

.card-time {
  float: right;
  margin: 0 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.engage-icon {
  color: $one-color;
  font-size: 1.5rem;
  display: inline-block;
}
.engage-icon-negative {
  color: #d3d3d3;
  font-size: 1.5rem;
  display: inline-block;
}

.answer-eng {
  float: left;
  width: 50%;
  // margin-left: 1rem;
}

.energy-icon {
  color: $two-color;
  font-size: 1.5rem;
  display: inline-block;
}

.energy-icon-negative {
  color: #d3d3d3;
  font-size: 1.5rem;
  display: inline-block;
}


.answer-energy {
  float: right;
  width: 50%;
  // margin-right: 1rem;
}
