#app {
  canvas {
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    box-sizing: border-box;
    border-bottom: .1rem rgba(185, 183, 184, 0.8) solid;
    height: 100%;
  }

  .grommetux-carousel {
      margin-top: 3rem;
      position: fixed;
      top: 0;
      z-index: 1;
      background: #fff;
      box-sizing: border-box;
      height: 200px;
  }
.grommetux-carousel__controls {
  bottom: 0;
}

  .grommetux-carousel__control--active {
    stroke: $one-color;
    fill: $one-color;
  }
  button:focus {
    background-color: rgba(249, 245, 245, 245);
    opacity: .5,
  }

  @media only screen
    and (min-width: 320px) {
      canvas {
        height: 180px;
      }
      .grommetux-carousel {
        height: 180px;
      }
    }

    @media only screen
      and (min-width: 360px) {
        canvas {
          height: 200px;
        }
        .grommetux-carousel {
          height: 200px;
        }
      }

      @media only screen
        and (min-width: 400px) {
          canvas {
            height: 100%
          }
          .grommetux-carousel {
            height: 250px;
          }
        }



      @media only screen
        and (min-width: 500px) {
          canvas {
            height: 100%
          }
          .grommetux-carousel {
            height: 300px;
          }
        }

    @media only screen
      and (min-width: 700px) {
        .grommetux-carousel {
          height: 400px;
        }
      }
      @media only screen
        and (min-width: 760px) {
          .grommetux-carousel {
            height: 400px;
          }
        }
}
