#app {
  canvas {
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    box-sizing: border-box;
    border-bottom: .1rem rgba(185, 183, 184, 0.8) solid;

  }

  .grommetux-carousel {
      margin-top: 3rem;
      position: fixed;
      top: 0;
      z-index: 1;
      background: #fff;
      box-sizing: border-box;
      height: 200px;
  }
  .grommetux-carousel__control--active {
    stroke: $one-color;
    fill: $one-color;
  }
  button:focus {
    background-color: rgba(249, 245, 245, 245);
    opacity: .5,
  }
}
