@import "vars.scss";

.navbar {

  background: #fff;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  margin: 0 auto;
  border-bottom: .1rem solid $one-color;
}

.menuToggle {
  max-width: 50%;
}

.cancel {
  margin: 0 1rem;
  padding-top: 1rem;
  float: left;
  width: 20%;
  color: $one-color;
  font-weight: lighter;
  font-size: 1.5rem;
}

.brand {
  font-size: 2.4rem;
  font-family: $one-font;
  color: $one-color;
  width: 20%;
  margin: 0 auto;

}
.save {
  margin: 0;
  padding-top: 1rem;
  float: right;
  width: 20%;
  color: $one-color;
  font-weight: lighter;
  font-size: 1.5rem;
}
