.input-page {
  margin-top: 5rem;
  .modal-buttons {
    text-align: center;
  }
  button {
    background: #fff;
    width: 50%;
    height: 3rem;
    border: none;
    border: .1rem rgba(185, 183, 184, 0.8) solid;
    margin-bottom: 1.5rem;
  }
.number-value {
  color: $one-color;
}
.description {
  margin-bottom: 0;
}
}

.input-field {
  background: #fff;
  margin-bottom: 0;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid $one-color;
     box-shadow: 0 1px 0 0 $one-color;
   }
