@import "vars.scss";

.navbar {
  // background: linear-gradient(to left, #f4c4f3, #fc67fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to top, #f7ff00, #db36a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to top, #ff512f, #f09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #fff;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  // box-sizing: border-box;
  margin: 0 auto;
  border-bottom: .1rem solid #ff512f;
}

.menuToggle {
  max-width: 50%;
}

.input {
  margin: 0 1rem;
  float: left;
  width: 20%;
  color: #ff512f;
}

.brand {
  font-size: 3rem;
  font-family: $one-font;
  color: #ff512f;
  width: 25%;
  margin: 0 auto;

}
