@import "vars.scss";

.navbar {
  // background: linear-gradient(to left, #f4c4f3, #fc67fa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to top, #f7ff00, #db36a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: linear-gradient(to top, $one-color, #f09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #fff;
  height: 3rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  // box-sizing: border-box;
  margin: 0 auto;
  border-bottom: .1rem solid $one-color;
}

.menuToggle {
  max-width: 50%;
}

.cancel {
  margin: 0 1rem;
  padding-top: 1rem;
  float: left;
  width: 20%;
  color: $one-color;
  font-weight: lighter;
  font-size: 1.5rem;
}

.brand {
  font-size: 2.4rem;
  font-family: $one-font;
  color: $one-color;
  width: 20%;
  margin: 0 auto;

}
.save {
  margin: 0;
  padding-top: 1rem;
  float: right;
  width: 20%;
  color: $one-color;
  font-weight: lighter;
  font-size: 1.5rem;
}
