.login-navbar {
  background: #fff;
  text-align: center;
}

.login-inputs{
  margin: 0;
  margin-top: 4rem;
}

.login-navbar * {
  color: black;
  display: inline-block;
}

.login-back {
  float: left;
  // width: 20%;
  font-size: 1rem;
  color: $one-color;
  appearance: none;
  border: none;
  background: #fff;
  height: 54px;

}

.arrow-icon {
  float: left;
  color: $one-color;

}

.login-title {
  margin: 0 auto;
  font-size: 2rem;
  padding-right: 4rem;
  padding-top: 1rem;
}

.login-btn {
  float: right;
  color: $one-color;
  margin-right: 1rem;
  appearance: none;
  border: none;
  background: #fff;
}

.input-field input[type=email] {
    margin: 0;
    padding-left: 2.5rem;
   }

.input-field input[type=text] {
    margin: 0;
    padding-left: 2.5rem;
   }

.input-field input[type=password] {
    margin: 0;
    padding-left: 2.5rem;
   }

.input-field input[type=password]:focus {
     border-bottom: 1px solid $one-color;
     box-shadow: 0 1px 0 0 $one-color;
   }

.input-field input[type=email]:focus {
     border-bottom: 1px solid $one-color;
     box-shadow: 0 1px 0 0 $one-color;
   }

.input-field .prefix.active {
     color: $one-color;
   }

.input-icon{
  padding-top: .5rem;
}

icon:focus {
  color: $one-color
}

.submit-login {
  position: absolute;
  top: -97px;
  right: 0;
  appearance: none;
}
