@import "vars.scss";
@import "navbar.scss";
@import "navbar_menu.scss";


html {
    body {
        margin: 0;
        padding: 0;
        background: $seven-color;
        background: linear-gradient(to bottom, #b2fefa, #0ed2f7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-attachment: fixed;
    }
}
