@import "vars.scss";
@import "navbar.scss";
@import "graph.scss";
@import "feed.scss";
@import "input-page.scss";
@import "input-navbar.scss";
@import "gauge.scss";
@import "modal.scss";
@import "grommet-core/index.scss";
@import "landing_page.scss";
@import "login-page.scss";
@import "user-menu.scss";
//

#app {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  background-attachment: fixed;
  width: 100%;
  margin: 0 auto;

  @media(min-width: 320px){
      #app {
        width: 320px;
      }
    }
}
