@import "vars.scss";
@import "navbar.scss";
@import "graph.scss";
@import "feed.scss";
@import "input-page.scss";
@import "input-navbar.scss";
@import "gauge.scss";
@import "modal.scss";
@import "grommet-core/index.scss";
@import "landing_page.scss";
@import "login-page.scss";
@import "user-menu.scss";

@media only screen
  and (min-width: 770px){

html {
    body {
        margin: 0;
        padding: 0;
        background: #f6f6f6;
        background-attachment: fixed;
        width: 80%;
        margin: 0 auto;
    }
}
}
